<a href="https://colab.research.google.com/github/Srijana-Shetty/python_basics_for_DA/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to my world")

Welcome to my world

In [ ]:
name ="Srijana"
location ="Mangalore"
age = 23
print("name = {} \n location = {} \n age = {}".format(name, location, age))

name = Srijana
 location = Mangalore
 age = 23

In [ ]:
name = "srijana from mangalore"
print(name.upper())
print(name.lower())
print(name.split())
print(len(name))
print(type(name))

SRIJANA FROM MANGALORE
srijana from mangalore
['srijana', 'from', 'mangalore']
22
<class 'str'>

In [ ]:
name = "srijana"
age = 30
marks = 100
cgpa = 9.0

print(type(name))
print(type(age))
print(type(marks))
print(type(cgpa))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
print(type(name))
print(type(age))
print(type(marks))
marks = str(marks)
print(type(cgpa))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
a = int(input("Enter value of a = "))
b = int(input("enter value of b = "))
print("sum of a+b :", a+b)
print("sub of a-b: ")

Enter value of a = 69776
enter value of b = 65376
sum of a+b : 135152

SEQUENCE CONCEPT

In [ ]:
team = ['a','b','c','d']
age=[20,25,26,28]
marks = {20, 21, 76, 84}
print(type(team))
print(type(age))
print(type(marks))

<class 'list'>
<class 'list'>
<class 'set'>

In [ ]:
team.append('f')
print(team)

['a', 'b', 'c', 'd', 'f', 'f']

In [ ]:
team.insert(3,'g')
print(team)

['a', 'b', 'c', 'g', 'd', 'f', 'f']

In [ ]:
student_info = {"Name":['Sanvi','Srijana'], 'Age':[10,20],'Loc':['mangalore','bangalore']}
print(student_info)
print(type(student_info))
print(student_info.keys())
print(student_info.values())

{'Name': ['Sanvi', 'Srijana'], 'Age': [10, 20], 'Loc': ['mangalore', 'bangalore']}
<class 'dict'>
dict_keys(['Name', 'Age', 'Loc'])
dict_values([['Sanvi', 'Srijana'], [10, 20], ['mangalore', 'bangalore']])

In [ ]:
student_info['Name'].append('sanviadapa')
print(student_info)

{'Name': ['Sanvi', 'Srijana', 'sanviadapa', 'sanviadapa', 'sanviadapa'], 'Age': [10, 20], 'Loc': ['mangalore', 'bangalore']}

In [ ]:
age = int(input("Enter your age"))
if 18<=age<=40:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter your age22
Eligible to vote

In [ ]:
classroom = ['sneha', 'rekha', 'rita']
name = str(input("enter the name to be added to the classroom "))
if name in classroom:
  print("name already exists")
  print(classroom)
else:
  classroom.append(name)
  print("name added successfully")
  print(classroom)

enter the name to be added to the classroom sneha
name already exists
['sneha', 'rekha', 'rita']

In [ ]:
a=0
while a<=10:
  print('sanvi')
  a+=1
  if a==11:
    break

sanvi
sanvi
sanvi
sanvi
sanvi
sanvi
sanvi
sanvi
sanvi
sanvi
sanvi

In [ ]:
sqrt = []

for x in range(1,10):
  sq = x**2
  sqrt.append(sq)
print(sqrt)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
even_num = []
odd_num = []

for x in range(1,20):
  if x%2== 0:
    even_num.append(x)
  else:
    odd_num.append(x)
print(even_num)
print(odd_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]